header {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100px;
    width: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#logo {
    padding: 0%;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100;
    background-color: black;
}

#logo_js{
    margin-top: 50px;
    margin-left: 30%;
    height: 200px;
    width: 200px;
}

#titulo {
    margin-top: 8%;
    margin-left: 30px;
    font-size: 60px;
    font-style:inherit;
    color: #FFF240;
}

body {
    margin: 0px;
    background-color: white;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

a {
    padding: 10px;
	width: 10%;
    height: 16%;
	margin: 30px 10px 10px 10px;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF240;
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(93, 85, 85));
	cursor: pointer;
    text-align: center;  
}